body{
    margin: 0;
    font-family: 'Bona Nova', serif;
}
.top-block{
    background-color: #2C3333;
    color: #CBE4DE;
       
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.develop-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    
}

.text ,.text1{
   text-align: center;
}
.image-logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.middle-block{
    background-color: #CBE4DE;
    color: black;
    text-align: center;

}
.bottom-block{
    background-color: #0E8388;
    text-align: center;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.H1{
    margin-top: 0;
    margin-bottom: 0;
}
.paragraph{
    margin-top: 0;
    margin-bottom: 0;
}
.websites{
    height: 400px;
}
.app{
    height: 400px;
}
.social{
    height: 25px;
}
a{
    text-decoration: none;
}
.name{
    margin-bottom: 0;
    text-align: center;
}
#contact{
    margin-bottom: 0;
}
.footer-link{
    padding: 15px;
}
.text1{
    font-size: 2.1875rem;
}
hr{
    border-top: 4px dotted;
    width: 20%;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.contact-me{
    margin-top: 83px;
}
.icons{
    padding-top: 20px;
}





